In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [3]:
# Load the data
file_path = Path('clean_flavors_of_cacao.csv')
df = pd.read_csv(file_path)
df.head()

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,missing,Sao Tome & Principe
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,missing,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,missing,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,missing,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,missing,Peru

In [4]:
df= df.drop(columns=["Company", "REF","Bean_Origin_or_Bar_Name"], axis=1)
df.head()

,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,2016,63.0,France,3.75,missing,Sao Tome & Principe
1,2015,70.0,France,2.75,missing,Togo
2,2015,70.0,France,3.00,missing,Togo
3,2015,70.0,France,3.50,missing,Togo
4,2015,70.0,France,3.50,missing,Peru

In [5]:
def bin_ratings(rating):
    if rating == 5.75: return 1
    if rating == 5.50: return 1
    if rating == 5.25: return 1
    if rating == 5.00: return 1
    
    if rating == 4.75: return 1
    if rating == 4.50: return 1
    if rating == 4.25: return 1
    if rating == 4.00: return 1
    
    if rating == 3.75: return 1
    if rating == 3.50: return 1
    if rating == 3.25: return 0
    if rating == 3.00: return 0

    if rating == 2.75: return 0
    if rating == 2.50: return 0
    if rating == 2.25: return 0
    if rating == 2.00: return 0
    
    if rating == 1.75: return 0
    if rating == 1.50: return 0
    if rating == 1.25: return 0
    if rating == 1.00: return 0
    
    #print( f"error: rating={rating} type={type(rating)}" )
    return "2"

df['Rating'] = df['Rating'].apply(bin_ratings)

# Split the Data into Training and Testing

In [6]:
y = df['Rating']
X = df.drop(columns="Rating", axis=1)
X = pd.get_dummies(X)

In [7]:
# Check the balance of our target values
y.value_counts()

0    1087
1     700
Name: Rating, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,test_size= 0.40,train_size=0.60 , random_state=1, stratify=y)

In [9]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Ensemble Learners

## Balanced Random Forest Classifier

In [10]:


# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=500, random_state=1)

# train
brfc.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=500, random_state=1)

In [11]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = brfc.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.5804802955665025

In [12]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                  258                 177
Actual low_risk                   121                 159

In [13]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.68      0.59      0.57      0.63      0.58      0.34       435
          1       0.47      0.57      0.59      0.52      0.58      0.34       280

avg / total       0.60      0.58      0.58      0.59      0.58      0.34       715

In [14]:
# List the features sorted in descending order by feature importance
importances = brfc.feature_importances_ 

features_importance = sorted(zip(brfc.feature_importances_, X.columns), reverse=True)
for feature in features_importance:
    print(f"{feature[1]}: ({feature[0]})")

Cocoa_Percent: (0.2148622807254748)
Review_Date: (0.2041400820593054)
Company_Location_United States of America: (0.02962480774939886)
Bean_Type_missing: (0.024735422038490162)
Broad_Bean_Origin_Venezuela: (0.020333999459708325)
Broad_Bean_Origin_Ecuador: (0.01967335535582589)
Broad_Bean_Origin_Dominican Republic: (0.018841086047878382)
Company_Location_France: (0.017710419511947826)
Broad_Bean_Origin_Peru: (0.017211486554491638)
Bean_Type_Trinitario: (0.0170072859176071)
Company_Location_Canada: (0.016141401564468683)
Broad_Bean_Origin_Madagascar: (0.014580097532880393)
Bean_Type_Criollo: (0.014110190295096895)
Company_Location_England: (0.013710921978579432)
Bean_Type_Forastero: (0.013269264957048481)
Broad_Bean_Origin_Unknown: (0.011466996754231249)
Broad_Bean_Origin_Brazil: (0.011083330029679471)
Broad_Bean_Origin_Papua New Guinea: (0.011029981467895708)
Broad_Bean_Origin_Bolivia: (0.009913230017002965)
Company_Location_Italy: (0.009665945643974072)
Broad_Bean_Origin_Nicaragua: (0.009569195993810634)
Company_Location_Australia: (0.009332163856453307)
Broad_Bean_Origin_Costa Rica: (0.009153150718007704)
Broad_Bean_Origin_Guatemala: (0.009055396102888105)
Company_Location_Belgium: (0.008834484610426364)
Broad_Bean_Origin_Colombia: (0.008310423233753797)
Broad_Bean_Origin_Belize: (0.007974390650570456)
Bean_Type_Blend: (0.007705158619941965)
Broad_Bean_Origin_Trinidad Tobago: (0.0075012410965551515)
Broad_Bean_Origin_Hawaii: (0.007116035186338871)
Broad_Bean_Origin_Tanzania: (0.006623649886182313)
Broad_Bean_Origin_Other: (0.006584893740683741)
Company_Location_Ecuador: (0.006525687438102245)
Broad_Bean_Origin_Mexico: (0.006458508266445922)
Company_Location_Austria: (0.006377119442400388)
Broad_Bean_Origin_Ghana: (0.006294581477917129)
Company_Location_Switzerland: (0.0061209908599352955)
Broad_Bean_Origin_Vietnam: (0.005966336107431154)
Company_Location_Germany: (0.005917660468848506)
Company_Location_Venezuela: (0.005227984157744831)
Company_Location_Israel: (0.004983373440495913)
Broad_Bean_Origin_Grenada: (0.004894883720150012)
Company_Location_Hungary: (0.004859835819200019)
Broad_Bean_Origin_Sao Tome & Principe: (0.004670435996572141)
Broad_Bean_Origin_Honduras: (0.004537488977188694)
Broad_Bean_Origin_Indonesia: (0.004368918950843936)
Company_Location_Brazil: (0.004253088120832038)
Company_Location_New Zealand: (0.004207031927635787)
Company_Location_Denmark: (0.00414622536323964)
Broad_Bean_Origin_Jamaica: (0.0036641498538836866)
Company_Location_Vietnam: (0.003645411667290438)
Company_Location_Spain: (0.003537983362989675)
Company_Location_Colombia: (0.0033955566825804116)
Company_Location_Peru: (0.0032585570110030106)
Company_Location_Madagascar: (0.003252770061157378)
Company_Location_Argentina: (0.0031164001365954095)
Company_Location_Lithuania: (0.0030046580302131366)
Company_Location_Japan: (0.002944015084468271)
Broad_Bean_Origin_Cuba: (0.002869635732908357)
Broad_Bean_Origin_Haiti: (0.002786128393527402)
Company_Location_Poland: (0.0027640802954769523)
Company_Location_Scotland: (0.0027177336348761304)
Company_Location_South Korea: (0.0026583231109491593)
Company_Location_Guatemala: (0.0024743493409247917)
Broad_Bean_Origin_Panama: (0.002470675630844471)
Broad_Bean_Origin_Uganda: (0.0023700339738182857)
Company_Location_Costa Rica: (0.0021690870382525384)
Broad_Bean_Origin_Saint Lucia: (0.002143239039569654)
Broad_Bean_Origin_Republic of Congo: (0.0021155933712334414)
Broad_Bean_Origin_Cote d'Ivorie: (0.0019761039598670976)
Company_Location_Dominican Republic: (0.0018787773514154142)
Broad_Bean_Origin_Solomon Islands: (0.0017852964314278147)
Company_Location_Netherlands: (0.0016262435271573287)
Company_Location_Honduras: (0.0015999150306945382)
Company_Location_Iceland: (0.0014765471747201773)
Broad_Bean_Origin_Fiji: (0.001448921693144275)
Company_Location_South Africa: (0.0014382438285588965)
Company_Location_Sweden: (0.0014000822653056268)
Broad_Bean_Origin_Australia: (0.0013959702650528667)
Broad_Bean_Origin_Philippines: (0.0013842233360923347)
Bean_Type_Amazon mix: (0.0013361193375373294)
Bean_Type_Matina: (0.0013293783366149531)
Broad_Bean_Origin_Puerto Rico: (0.0013060329695125047)
Bean_Type_Amazon, ICS: (0.0013020579927949464)
Company_Location_Bolivia: (0.0012521195779730235)
Company_Location_Nicaragua: (0.0012439373453730382)
Company_Location_Portugal: (0.001177458699569144)
Bean_Type_Nacional (Arriba): (0.0011082617378732112)
Company_Location_Singapore: (0.0009885807617463706)
Bean_Type_EET: (0.0009066923780891122)
Company_Location_Sao Tome: (0.0008945606341898738)
Broad_Bean_Origin_Liberia: (0.0008732748230771788)
Broad_Bean_Origin_Cameroon: (0.0008530345612568996)
Bean_Type_CCN51: (0.0008284838862455765)
Company_Location_Czech Republic: (0.000791185995584093)
Broad_Bean_Origin_Togo: (0.0007848758161877843)
Bean_Type_Beniano: (0.0007803522373678279)
Bean_Type_Nacional: (0.0007424611687884702)
Company_Location_Suriname: (0.0006880049086207293)
Company_Location_St. Lucia: (0.0006320774259135966)
Company_Location_Puerto Rico: (0.0006285106393938702)
Broad_Bean_Origin_Other(DR/Jam/Tri): (0.0006226560881282542)
Broad_Bean_Origin_Myanmar: (0.0006174384179337457)
Company_Location_Ireland: (0.000595382445970023)
Broad_Bean_Origin_Suriname: (0.0005878152609727522)
Broad_Bean_Origin_Gabon: (0.0005483430607249742)
Company_Location_Chile: (0.0005335228667195225)
Broad_Bean_Origin_Samoa: (0.0005211710580550391)
Company_Location_Grenada: (0.00045774195350467594)
Company_Location_Finland: (0.0004491152438418496)
Broad_Bean_Origin_Malaysia: (0.0004382395563384108)
Broad_Bean_Origin_Nigeria: (0.00042478486193700326)
Company_Location_Mexico: (0.0003459534256629248)
Broad_Bean_Origin_Vanuatu: (0.00031684664837412806)
Broad_Bean_Origin_India: (0.00030743466859834193)
Company_Location_India: (0.00030393949560016326)
Company_Location_Ghana: (0.00026795800762875245)
Company_Location_Fiji: (0.00022599908696680447)
Broad_Bean_Origin_Martinique: (0.0002115341464836785)
Company_Location_Wales: (0.00018273945002334093)
Company_Location_Martinique: (0.00014329681524528372)
Company_Location_Russia: (0.0)
Company_Location_Philippines: (0.0)
Broad_Bean_Origin_Sri Lanka: (0.0)
Broad_Bean_Origin_Peru(SMartin,Pangoa,nacional): (0.0)
Broad_Bean_Origin_El Salvador: (0.0)
Bean_Type_Amazon: (0.0)

# Easy Ensemble AdaBoost Classifier

In [15]:


# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [16]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.6073686371100164

In [17]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                  241                 194
Actual low_risk                    95                 185

In [18]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.72      0.55      0.66      0.63      0.61      0.36       435
          1       0.49      0.66      0.55      0.56      0.61      0.37       280

avg / total       0.63      0.60      0.62      0.60      0.61      0.37       715