In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [3]:
# Load the data
file_path = Path('clean_flavors_of_cacao.csv')
df = pd.read_csv(file_path)
df.head()

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,None,Sao Tome & Principe
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,None,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,None,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,None,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,None,Peru

In [4]:
#df['Rating'] = df['Rating'].replace(1.0, 'A')\
#.replace( 1.5, 'B')\
#.replace(1.75,'C')\
#.replace(2.0, 'D')\
#.replace(2.25, 'E')\
#.replace(2.5, 'F')\
#.replace(2.75, 'G')\
#.replace(3.0,'H')\
#.replace(3.25, 'I')\
#.replace(3.5, 'J')\
#.replace(3.75, 'K')\
#.replace(4.0, 'L')\
#.replace(5.0, 'M')

#df['Rating']

In [5]:
df= df.drop(columns=["Company", "REF","Bean_Origin_or_Bar_Name"], axis=1)
df.head()

,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,2016,63.0,France,3.75,None,Sao Tome & Principe
1,2015,70.0,France,2.75,None,Togo
2,2015,70.0,France,3.00,None,Togo
3,2015,70.0,France,3.50,None,Togo
4,2015,70.0,France,3.50,None,Peru

In [6]:
def bin_ratings(rating):
    if rating == 5.75: return 1
    if rating == 5.50: return 1
    if rating == 5.25: return 1
    if rating == 5.00: return 1
    
    if rating == 4.75: return 1
    if rating == 4.50: return 1
    if rating == 4.25: return 1
    if rating == 4.00: return 1
    
    if rating == 3.75: return 0
    if rating == 3.50: return 0
    if rating == 3.25: return 0
    if rating == 3.00: return 0

    if rating == 2.75: return 0
    if rating == 2.50: return 0
    if rating == 2.25: return 0
    if rating == 2.00: return 0
    
    if rating == 1.75: return 0
    if rating == 1.50: return 0
    if rating == 1.25: return 0
    if rating == 1.00: return 0
    
    #print( f"error: rating={rating} type={type(rating)}" )
    return "2"

df['Rating'] = df['Rating'].apply(bin_ratings)

# Split the Data into Training and Testing

In [7]:
y = df['Rating']
X = df.drop(columns="Rating", axis=1)
X = pd.get_dummies(X)

In [8]:
# Check the balance of our target values
y.value_counts()

0    1688
1      99
Name: Rating, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Ensemble Learners

## Balanced Random Forest Classifier

In [10]:


# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# train
brfc.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [11]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = brfc.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6267945036915504

In [12]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                  255                 169
Actual low_risk                     8                  15

In [13]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.97      0.60      0.65      0.74      0.63      0.39       424
          1       0.08      0.65      0.60      0.14      0.63      0.39        23

avg / total       0.92      0.60      0.65      0.71      0.63      0.39       447

In [14]:
# List the features sorted in descending order by feature importance
importances = brfc.feature_importances_ 

features_importance = sorted(zip(brfc.feature_importances_, X.columns), reverse=True)
for feature in features_importance:
    print(f"{feature[1]}: ({feature[0]})")

Review_Date: (0.18994937695810069)
Cocoa_Percent: (0.15636604876131738)
Bean_Type_None: (0.05545403368337234)
Company_Location_United States of America: (0.042962950729592754)
Company_Location_France: (0.0423516215540763)
Broad_Bean_Origin_Peru: (0.035396303238735494)
Broad_Bean_Origin_Venezuela: (0.030358005379409136)
Company_Location_Canada: (0.024326957161187365)
Broad_Bean_Origin_Ecuador: (0.02336878444976178)
Broad_Bean_Origin_Dominican Republic: (0.02063753482617546)
Company_Location_Italy: (0.020296177542090725)
Broad_Bean_Origin_Papua New Guinea: (0.018870056938019724)
Broad_Bean_Origin_Madagascar: (0.01719845730516794)
Company_Location_Ecuador: (0.01580790027309902)
Broad_Bean_Origin_Brazil: (0.015235677439758474)
Broad_Bean_Origin_Unknown: (0.013812688919573657)
Broad_Bean_Origin_Guatemala: (0.012416656918067925)
Broad_Bean_Origin_Ghana: (0.011031905606013543)
Company_Location_England: (0.010475062873625223)
Broad_Bean_Origin_Colombia: (0.010429931193636372)
Company_Location_Spain: (0.010369130742471852)
Company_Location_Australia: (0.010311438843770141)
Company_Location_Belgium: (0.010172519826255551)
Broad_Bean_Origin_Nicaragua: (0.010066000977914791)
Broad_Bean_Origin_Bolivia: (0.009975824360361405)
Broad_Bean_Origin_Trinidad Tobago: (0.009869170765676427)
Company_Location_Switzerland: (0.009169346845027276)
Broad_Bean_Origin_Mexico: (0.008554568202626489)
Broad_Bean_Origin_Belize: (0.008424106149908737)
Broad_Bean_Origin_Jamaica: (0.007982932454707619)
Broad_Bean_Origin_Costa Rica: (0.007851725492419588)
Broad_Bean_Origin_Vietnam: (0.007508634161603286)
Company_Location_Germany: (0.007334116085264877)
Broad_Bean_Origin_Haiti: (0.006558829157305855)
Broad_Bean_Origin_Grenada: (0.006216958126732731)
Broad_Bean_Origin_Tanzania: (0.006155755662085044)
Broad_Bean_Origin_Indonesia: (0.006060018474569092)
Company_Location_Scotland: (0.004868769811998814)
Broad_Bean_Origin_Sao Tome & Principe: (0.0048305521481623636)
Broad_Bean_Origin_Saint Lucia: (0.004255139622772939)
Broad_Bean_Origin_Hawaii: (0.004214932922886509)
Company_Location_Hungary: (0.004087362766070804)
Company_Location_Japan: (0.0036479440763335516)
Company_Location_Peru: (0.0035805094813012844)
Company_Location_Guatemala: (0.0032742745341276555)
Company_Location_Venezuela: (0.003117740474054251)
Company_Location_Madagascar: (0.0030852570588407874)
Company_Location_New Zealand: (0.003073530311691473)
Broad_Bean_Origin_Cuba: (0.0027237627077371356)
Broad_Bean_Origin_Other: (0.002662985505715844)
Company_Location_Colombia: (0.0026172490331545966)
Company_Location_Sweden: (0.0025754754114605243)
Broad_Bean_Origin_Honduras: (0.002330765479604563)
Company_Location_Austria: (0.002324732896759284)
Company_Location_Denmark: (0.002205190758874835)
Broad_Bean_Origin_Cote d'Ivorie: (0.0020277866471802982)
Company_Location_Brazil: (0.001996873470786721)
Broad_Bean_Origin_Fiji: (0.0017070364604899742)
Company_Location_Israel: (0.0013990307780019317)
Company_Location_Ireland: (0.0013566560988530964)
Broad_Bean_Origin_Republic of Congo: (0.001320204888490393)
Broad_Bean_Origin_Liberia: (0.001282092285645053)
Broad_Bean_Origin_Vanuatu: (0.00105469060048201)
Company_Location_Vietnam: (0.0010059305389190562)
Broad_Bean_Origin_Australia: (0.0009751189891982532)
Company_Location_Mexico: (0.000958924879531637)
Broad_Bean_Origin_Puerto Rico: (0.00093273829084597)
Company_Location_Grenada: (0.0008921309520773312)
Company_Location_Nicaragua: (0.000876331939256397)
Company_Location_Argentina: (0.000784837175419324)
Company_Location_South Korea: (0.0007267674892511791)
Broad_Bean_Origin_Gabon: (0.0006945793051196432)
Company_Location_Poland: (0.0006740384513081367)
Company_Location_Costa Rica: (0.0006717345777817829)
Company_Location_South Africa: (0.0006713837170183764)
Broad_Bean_Origin_Panama: (0.0006625946184243048)
Company_Location_Suriname: (0.0006549933453889429)
Company_Location_Lithuania: (0.0006538637802630047)
Broad_Bean_Origin_India: (0.0005818756792186923)
Broad_Bean_Origin_Philippines: (0.0005038369550303786)
Company_Location_Iceland: (0.00042979788118200865)
Broad_Bean_Origin_Other(DR/Jam/Tri): (0.0004272420104876476)
Broad_Bean_Origin_Uganda: (0.00041728781788308956)
Broad_Bean_Origin_Sri Lanka: (0.00040686997211760524)
Company_Location_Portugal: (0.0003919958648857936)
Company_Location_Puerto Rico: (0.00038243251198687736)
Company_Location_Honduras: (0.0003406227213403596)
Company_Location_Chile: (0.0003371253650986062)
Company_Location_Fiji: (0.00031742386049146676)
Company_Location_Dominican Republic: (0.0003165660730022919)
Broad_Bean_Origin_Solomon Islands: (0.00028507214965890965)
Company_Location_Czech Republic: (0.00028487947406866235)
Broad_Bean_Origin_Myanmar: (0.0002787258591407706)
Broad_Bean_Origin_Togo: (0.00024735369205957405)
Broad_Bean_Origin_Suriname: (0.0002443504543288664)
Company_Location_Netherlands: (0.00020473025134657149)
Company_Location_Martinique: (0.00015290331795777222)
Broad_Bean_Origin_El Salvador: (0.00011991207917076567)
Company_Location_Ghana: (0.00010939200378519142)
Broad_Bean_Origin_Samoa: (0.00010434490230507698)
Broad_Bean_Origin_Cameroon: (0.00010271230826786421)
Company_Location_Singapore: (7.251000131099556e-05)
Company_Location_Wales: (6.518504410346874e-05)
Broad_Bean_Origin_Nigeria: (4.668795913665976e-05)
Company_Location_Bolivia: (4.444142987207227e-05)
Company_Location_St. Lucia: (0.0)
Company_Location_Sao Tome: (0.0)
Company_Location_Russia: (0.0)
Company_Location_Philippines: (0.0)
Company_Location_India: (0.0)
Company_Location_Finland: (0.0)
Broad_Bean_Origin_Peru(SMartin,Pangoa,nacional): (0.0)
Broad_Bean_Origin_Martinique: (0.0)
Broad_Bean_Origin_Malaysia: (0.0)

# Easy Ensemble AdaBoost Classifier

In [15]:


# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [16]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6618642329778507

In [17]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                  211                 213
Actual low_risk                     4                  19

In [18]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.98      0.50      0.83      0.66      0.64      0.40       424
          1       0.08      0.83      0.50      0.15      0.64      0.42        23

avg / total       0.94      0.51      0.81      0.63      0.64      0.40       447