In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [3]:
# Load the data
file_path = Path('clean_flavors_of_cacao.csv')
df = pd.read_csv(file_path)
df.head()

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,missing,Sao Tome & Principe
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,missing,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,missing,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,missing,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,missing,Peru

In [4]:
#df['Rating'] = df['Rating'].replace(1.0, 'A')\
#.replace( 1.5, 'B')\
#.replace(1.75,'C')\
#.replace(2.0, 'D')\
#.replace(2.25, 'E')\
#.replace(2.5, 'F')\
#.replace(2.75, 'G')\
#.replace(3.0,'H')\
#.replace(3.25, 'I')\
#.replace(3.5, 'J')\
#.replace(3.75, 'K')\
#.replace(4.0, 'L')\
#.replace(5.0, 'M')

#df['Rating']

In [5]:
df= df.drop(columns=["Company", "REF","Bean_Origin_or_Bar_Name"], axis=1)
df.head()

,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,2016,63.0,France,3.75,missing,Sao Tome & Principe
1,2015,70.0,France,2.75,missing,Togo
2,2015,70.0,France,3.00,missing,Togo
3,2015,70.0,France,3.50,missing,Togo
4,2015,70.0,France,3.50,missing,Peru

In [6]:
def bin_ratings(rating):
    if rating == 5.75: return 1
    if rating == 5.50: return 1
    if rating == 5.25: return 1
    if rating == 5.00: return 1
    
    if rating == 4.75: return 1
    if rating == 4.50: return 1
    if rating == 4.25: return 1
    if rating == 4.00: return 1
    
    if rating == 3.75: return 0
    if rating == 3.50: return 0
    if rating == 3.25: return 0
    if rating == 3.00: return 0

    if rating == 2.75: return 0
    if rating == 2.50: return 0
    if rating == 2.25: return 0
    if rating == 2.00: return 0
    
    if rating == 1.75: return 0
    if rating == 1.50: return 0
    if rating == 1.25: return 0
    if rating == 1.00: return 0
    
    #print( f"error: rating={rating} type={type(rating)}" )
    return "2"

df['Rating'] = df['Rating'].apply(bin_ratings)

# Split the Data into Training and Testing

In [7]:
y = df['Rating']
X = df.drop(columns="Rating", axis=1)
X = pd.get_dummies(X)

In [8]:
# Check the balance of our target values
y.value_counts()

0    1688
1      99
Name: Rating, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,test_size= 0.3,train_size=0.7 , random_state=1, stratify=y)

# Ensemble Learners

## Balanced Random Forest Classifier

In [10]:


# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brfc = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# train
brfc.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [11]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = brfc.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6309664694280079

In [12]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                  268                 239
Actual low_risk                     8                  22

In [13]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.97      0.53      0.73      0.68      0.62      0.38       507
          1       0.08      0.73      0.53      0.15      0.62      0.40        30

avg / total       0.92      0.54      0.72      0.65      0.62      0.38       537

In [14]:
# List the features sorted in descending order by feature importance
importances = brfc.feature_importances_ 

features_importance = sorted(zip(brfc.feature_importances_, X.columns), reverse=True)
for feature in features_importance:
    print(f"{feature[1]}: ({feature[0]})")

Review_Date: (0.1860679289908285)
Cocoa_Percent: (0.15501704956480908)
Company_Location_United States of America: (0.032209278870024366)
Broad_Bean_Origin_Dominican Republic: (0.03199133618108755)
Broad_Bean_Origin_Peru: (0.03148744636496944)
Bean_Type_missing: (0.02964063426739646)
Company_Location_France: (0.02886557352899661)
Bean_Type_Criollo: (0.027574163846396712)
Bean_Type_Trinitario: (0.021396617461518656)
Company_Location_Canada: (0.02129143741722441)
Broad_Bean_Origin_Venezuela: (0.021090069626658728)
Broad_Bean_Origin_Ecuador: (0.020782327727494845)
Broad_Bean_Origin_Papua New Guinea: (0.020288753004611994)
Company_Location_Italy: (0.018080180825062207)
Broad_Bean_Origin_Madagascar: (0.016063264224976656)
Bean_Type_Forastero: (0.016037078776300572)
Company_Location_Ecuador: (0.01474186775581037)
Company_Location_Belgium: (0.012532912417808382)
Company_Location_Australia: (0.012218808750890504)
Broad_Bean_Origin_Brazil: (0.010461537837019788)
Company_Location_England: (0.01045960190876233)
Broad_Bean_Origin_Bolivia: (0.010422098279982873)
Broad_Bean_Origin_Nicaragua: (0.010296374509166562)
Broad_Bean_Origin_Jamaica: (0.010285227682529164)
Broad_Bean_Origin_Trinidad Tobago: (0.010205082763492896)
Broad_Bean_Origin_Costa Rica: (0.010127377938961173)
Broad_Bean_Origin_Unknown: (0.010016463748570221)
Broad_Bean_Origin_Colombia: (0.009941294004531748)
Broad_Bean_Origin_Guatemala: (0.009912939343595913)
Company_Location_Spain: (0.00951295138771049)
Broad_Bean_Origin_Mexico: (0.009214810187825722)
Company_Location_Germany: (0.00880504888802587)
Bean_Type_Blend: (0.008225969634107407)
Broad_Bean_Origin_Sao Tome & Principe: (0.00684512884740322)
Broad_Bean_Origin_Belize: (0.006795485598748519)
Company_Location_Peru: (0.006706480509478054)
Broad_Bean_Origin_Vietnam: (0.006519591082686202)
Broad_Bean_Origin_Ghana: (0.006214461854590833)
Company_Location_Switzerland: (0.00616067990359241)
Broad_Bean_Origin_Tanzania: (0.005917059450566503)
Broad_Bean_Origin_Hawaii: (0.004869424897534516)
Broad_Bean_Origin_Indonesia: (0.00450784656843418)
Broad_Bean_Origin_Grenada: (0.004325127896503202)
Company_Location_Hungary: (0.004281267638153851)
Bean_Type_Beniano: (0.0039883974560136716)
Company_Location_Venezuela: (0.00387600157762039)
Broad_Bean_Origin_Haiti: (0.003862332291673605)
Bean_Type_Amazon mix: (0.003748081509231993)
Company_Location_Brazil: (0.0036857388269666857)
Broad_Bean_Origin_Saint Lucia: (0.003329280400283468)
Company_Location_Austria: (0.0032162936406327286)
Broad_Bean_Origin_Other: (0.003028380725354495)
Company_Location_Madagascar: (0.0028971620571342383)
Company_Location_Colombia: (0.0027593876978551737)
Company_Location_Japan: (0.002716021506767861)
Broad_Bean_Origin_Honduras: (0.0026901798613492528)
Company_Location_Guatemala: (0.002453475317204467)
Company_Location_Sao Tome: (0.0023230527792415714)
Company_Location_Denmark: (0.0022032223812526444)
Company_Location_Israel: (0.0021859437524976246)
Company_Location_New Zealand: (0.002028203920151795)
Company_Location_Scotland: (0.0019604661727408096)
Company_Location_Vietnam: (0.0019233928759283898)
Company_Location_Poland: (0.0016733859211981426)
Broad_Bean_Origin_Vanuatu: (0.001626790752269044)
Broad_Bean_Origin_Panama: (0.0016004525123182415)
Broad_Bean_Origin_Cuba: (0.0012907370303617202)
Company_Location_Dominican Republic: (0.0012299698245630713)
Company_Location_Argentina: (0.00115362280729627)
Company_Location_Nicaragua: (0.0010307424403416536)
Broad_Bean_Origin_Togo: (0.0009184720798306482)
Company_Location_Netherlands: (0.000867245436797162)
Company_Location_South Korea: (0.0008446064996709615)
Broad_Bean_Origin_Sri Lanka: (0.0007914500835859249)
Broad_Bean_Origin_Cote d'Ivorie: (0.0007819892013588016)
Broad_Bean_Origin_Fiji: (0.0007566735453514644)
Company_Location_Costa Rica: (0.0007294311136103556)
Bean_Type_EET: (0.0006947650460254094)
Broad_Bean_Origin_Liberia: (0.0006907961549128837)
Company_Location_South Africa: (0.000659812446654382)
Company_Location_Sweden: (0.0006552531843293355)
Company_Location_Bolivia: (0.000650245391414718)
Broad_Bean_Origin_Philippines: (0.0006401215959590819)
Company_Location_Czech Republic: (0.0006009261243695186)
Company_Location_Grenada: (0.0005130417296866619)
Company_Location_Chile: (0.000510598156472944)
Company_Location_Puerto Rico: (0.00048548689348428323)
Company_Location_Honduras: (0.0004389509656894437)
Company_Location_Philippines: (0.0004172101177351029)
Bean_Type_Nacional: (0.00040139331638735745)
Broad_Bean_Origin_Uganda: (0.00039778541841685406)
Company_Location_Portugal: (0.00036881659256483656)
Broad_Bean_Origin_Republic of Congo: (0.00034644009529604715)
Broad_Bean_Origin_Cameroon: (0.00031317837771594126)
Broad_Bean_Origin_Solomon Islands: (0.00030490379632747936)
Company_Location_Mexico: (0.0002867440136310593)
Broad_Bean_Origin_Australia: (0.00024767145153965883)
Broad_Bean_Origin_India: (0.00023246667690107368)
Broad_Bean_Origin_Other(DR/Jam/Tri): (0.000217436974789916)
Broad_Bean_Origin_Myanmar: (0.00020075085856557646)
Company_Location_St. Lucia: (0.00017195053247246928)
Broad_Bean_Origin_Malaysia: (0.0001660713725070836)
Bean_Type_Amazon, ICS: (0.00016293228751347466)
Company_Location_Fiji: (0.0001576719784971185)
Company_Location_Finland: (0.00014447971781305106)
Broad_Bean_Origin_Samoa: (8.394415888561093e-05)
Broad_Bean_Origin_Suriname: (6.898494781094446e-05)
Company_Location_Singapore: (6.209494686529348e-05)
Company_Location_Lithuania: (5.1058376772104596e-05)
Bean_Type_Matina: (4.66963357588356e-05)
Broad_Bean_Origin_Puerto Rico: (1.769230769230784e-05)
Company_Location_Iceland: (1.1920300982801012e-05)
Broad_Bean_Origin_El Salvador: (3.0613942654319596e-06)
Company_Location_Wales: (0.0)
Company_Location_Suriname: (0.0)
Company_Location_Russia: (0.0)
Company_Location_Martinique: (0.0)
Company_Location_Ireland: (0.0)
Company_Location_India: (0.0)
Company_Location_Ghana: (0.0)
Broad_Bean_Origin_Peru(SMartin,Pangoa,nacional): (0.0)
Broad_Bean_Origin_Nigeria: (0.0)
Broad_Bean_Origin_Martinique: (0.0)
Broad_Bean_Origin_Gabon: (0.0)
Bean_Type_Nacional (Arriba): (0.0)
Bean_Type_CCN51: (0.0)
Bean_Type_Amazon: (0.0)

# Easy Ensemble AdaBoost Classifier

In [15]:


# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [16]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6269230769230769

In [17]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                  247                 260
Actual low_risk                     7                  23

In [18]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.97      0.49      0.77      0.65      0.61      0.36       507
          1       0.08      0.77      0.49      0.15      0.61      0.38        30

avg / total       0.92      0.50      0.75      0.62      0.61      0.36       537