In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(
    {'r0':['r0c0', 'r0c1', 'r1c2'],
      'r1':['r1c0', 'r1c1', 'r1c2'],
      'r2':['r2c0', 'r2c1', 'r2c2'],
      'r2':['r3c0', 'r3c1', 'r3c2']}
)

In [9]:
df.head()

     r0    r1    r2
0  r0c0  r1c0  r3c0
1  r0c1  r1c1  r3c1
2  r1c2  r1c2  r3c2

In [10]:
df['foo'] = 'bar';

In [11]:
df.head()

     r0    r1    r2  foo
0  r0c0  r1c0  r3c0  bar
1  r0c1  r1c1  r3c1  bar
2  r1c2  r1c2  r3c2  bar