In [1]:
import pandas as pd

In [33]:
#file ="Resources/flavors_of_cacao.csv"
file ="Resources/blob.csv"

df = pd.read_csv(file, encoding='utf-8')
df.dropna(axis='rows', how='any', inplace=True)

In [3]:
def fix_country(country):
    if country == 'Ivory Coast' or country == 'Cote d\'Ivorie':
        return 'Côte d\'Ivoire'
    return country

In [26]:
# Note that the original flavors_of_cacao.csv file uses 0xA0 chars
# which is the unicode 'NO-BREAK SPACE' char. Why they didn't just use regular
# space chars, I do not know.

# 'None' is a Python data type, but the string 'None' is not.
# The data type 'None' is treated the same as 'NaN' by the dropna() method.
# Confusing.

# So I changed Tahereh's code to return the string 'unspecified' 
# instead of the string 'None' to avoid confusion.


def repl_space(x):
    if(x is "\xa0"):
        return "unspecified"

# Also note that my original function below worked by accident, since
# the python strip() function removes any 'whitespace' chars from the
# begin or end of a string -- and that includes 'NO-BREAK SPACE'.
#
# def blank_to_unspecified(value):
#     value = value.strip()
#     if value == '':
#         value = 'unspecified'
#     return value

In [16]:
def is_ascii(string):
    for c in string:
        #if 0 <= ord(c) <= 127:
        if ord(c) > 127:
            print(f"ord(\'{c}\'={ord(c)}") 
            return string

In [5]:
filter1 = (df['Broad_Bean_Origin'] == 'Ivory Coast')
filter2 = (df['Broad_Bean_Origin'] == 'Cote d\'Ivorie') # BAD:  note 'o' and 'orie'
filter3 = (df['Broad_Bean_Origin'] == 'Côte d\'Ivoire') # GOOD: note 'ô' and 'oire'

df2 = df.loc[(filter1 | filter2 | filter3) , : ]
df2.head(100)

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
235,Bonnat,Ivory Coast,331,2009,75%,France,3.0,,Ivory Coast
821,Holy Cacao,Ivory Coast,431,2009,70%,Israel,2.5,,Ivory Coast
946,Laia aka Chat-Noir,"Ivory Coast, Batch 56/100",1594,2015,75%,France,3.0,,Ivory Coast
1060,Mars,Ivory Coast,544,2010,65%,U.S.A.,3.0,,Ivory Coast
1656,Theo,Ivory Coast,184,2007,75%,U.S.A.,2.5,,Ivory Coast

In [30]:
df['Broad_Bean_Origin'] = df['Broad_Bean_Origin'].apply(fix_country)

In [34]:
filter1 = (df['Broad_Bean_Origin'] == 'Ivory Coast')
filter2 = (df['Broad_Bean_Origin'] == 'Cote d\'Ivorie') # note 'o' and 'orie'
filter3 = (df['Broad_Bean_Origin'] == 'Côte d\'Ivoire') # note 'ô' and 'oire'

df2 = df.loc[(filter1 | filter2 | filter3) , : ]
df2.head(100)

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
235,Bonnat,Ivory Coast,331,2009,75%,France,3.0,,Côte d'Ivoire
821,Holy Cacao,Ivory Coast,431,2009,70%,Israel,2.5,,Côte d'Ivoire
946,Laia aka Chat-Noir,"Ivory Coast, Batch 56/100",1594,2015,75%,France,3.0,,Côte d'Ivoire
1060,Mars,Ivory Coast,544,2010,65%,U.S.A.,3.0,,Côte d'Ivoire
1654,Theo,Ivory Coast,184,2007,75%,U.S.A.,2.5,,Côte d'Ivoire

In [27]:
df['Broad_Bean_Origin'] = df['Broad_Bean_Origin'].apply(blank_to_unspecified)

In [28]:
df.loc[df['Broad_Bean_Origin'] == "unspecified", : ]

,Company,Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
77,Amedei,Nine,111,2007,75%,Italy,4.00,Blend,unspecified
85,Amedei,Toscano Black,170,2007,63%,Italy,3.50,Blend,unspecified
86,Amedei,Toscano Black,40,2006,70%,Italy,5.00,Blend,unspecified
87,Amedei,Toscano Black,75,2006,66%,Italy,4.00,Blend,unspecified
144,Bahen & Co.,Houseblend,1474,2015,80%,Australia,3.25,,unspecified
...,...,...,...,...,...,...,...,...,...
1766,Zak's,"House Blend, Batch 2",1582,2015,60%,U.S.A.,3.00,,unspecified
1774,Zokoko,Goddess Blend,1780,2016,65%,Australia,3.25,,unspecified
1778,Zotter,Raw,1205,2014,80%,Austria,2.75,,unspecified
1780,Zotter,Amazonas Frucht,801,2012,65%,Austria,3.50,,unspecified
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,,unspecified

In [32]:
df.to_csv('Resources/blob.csv', index=False, encoding='utf-8')

In [11]:
isinstance("hello", int)

False

In [12]:
for c in '':
    print(c)